@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.task-high{

  min-height: 70px;
  max-height: fit-content;
  max-width: 95%;
  border-radius: 10px;
  width: 270px;
  background-color: rgba(241, 182, 187, 0.43);
  border: 1px solid rgba(160, 11, 11, 0.37);
  list-style-type: none;
  line-height: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  position: relative;
 
  
}

.task-medium{

  min-height: 70px;
  max-height: fit-content;
  max-width: 95%;
  border-radius: 10px;
  width: 270px;
  background-color: rgba(239, 255, 58, 0.133);
  border: 1px solid rgba(201, 175, 63, 0.523);
  list-style-type: none;
  line-height: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  position: relative;
 
}


.task-low{

  min-height: 70px;
  max-height: fit-content;
  max-width: 95%;
  border-radius: 10px;
  width: 270px;
  background-color: rgba(58, 179, 255, 0.133);
  border: 1px solid rgba(63, 102, 201, 0.523);
  list-style-type: none;
  line-height: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  position: relative;
 
  
}


.task-list{
  margin-top: 20px;
  margin-left: -30px;
  margin-right: 5px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin: 5%;
  margin-top: 7%;
  
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #059a66;
  background-color: #059a66;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  cursor: pointer;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #000000;
  cursor: pointer;
}


.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #000000;
  cursor: pointer;
}

.task-high:hover,
.task-medium:hover,
.task-low:hover{
  transform: scale(1.05);
  cursor: pointer;
}