@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.daily-to-do{
  display: flex;
  width: 220px;
  height: 674px;
  border: 2px solid rgb(0, 0, 0);
  padding: 50px;
  margin: 20px;
  margin-left: 2px;
  position: relative;
}

.to-do-list-header{
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  
}

.left-line{
  border-bottom: 2px solid black;
  width:200px;
  margin-top: 20px;
  margin-left: -50px;

}
.right-line{
  border-bottom: 2px solid black;
  width:200px;
  margin-top: 30px;
  margin-left: 70px;

}

.sidebar_close_icon {
  padding-top: 6px;
  color: #000000;
  position: absolute;
  margin-top: 5px;
  
}
