.EventCreator {
    --white: #FFFFFF;
    --lightgreen: #91aba5;
    --darkgreen: #607568;
    --darkgrey: #1E1E1E;
    --lightbeige: #FCFCFC;
    --error_color: #D2042D;

    z-index: 30;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.hidden_box {
    display: none;
}

select,
select:required:invalid,
option {
    font-family: 'Quicksand';
    font-size: 16px;
    line-height: 14px;
    text-align: left;
}

select:required:invalid {
    color: gray;
}

select:invalid>option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}


option[value="Sport"] {
    background: rgba(145, 171, 165, 0.8);

}

option[value="Beauty"] {
    background-color: rgba(227, 45, 45, 0.3);

}

option[value="Birthday"] {
    background-color: rgba(219, 181, 123, 0.7);

}

option[value="Deadline"] {
    background-color: rgba(139, 0, 0, 0.5);
}

option[value="Work"] {
    background-color: rgba(45, 140, 227, 0.3);
}

option[value="Other"] {
    background-color: rgba(170, 170, 170, 0.6);
}
option[value="Other"] {
    background-color: rgba(170, 170, 170, 0.6);
}


.react-datepicker__month-container * {
    z-index: 40;
}

.ev_creator_box {
    padding: 1vh 1vw;
    align-self: center;
    justify-self: center;
    margin: auto;
    background: var(--lightgreen);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2)
}


.ev_creator_text {

    color: #1E1E1E;
    font-family: "Quicksand";
    text-align: left;
    font-weight: 100;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: -10px;
}

.ev_creator_category,
.ev_creator_repeat {
    width: 250px;
}

.ev_creator_time_success {
    width: 110px;

}

.ev_creator_input_error,
.ev_creator_input_success,
.notes,
.ev_creator_date {
    min-width: 250px;
}



.ev_creator_category,
.ev_creator_repeat,
.ev_creator_time_success,
.ev_creator_date,
.notes {
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    height: 35px;
    border: 1px solid var(--darkgreen);
    background: var(--white);
    border-radius: 6px;
}



.ev_creator_input_error {
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    height: 35px;
    background: var(--white);
    border-radius: 6px;
    border: 2px solid var(--error_color);
}

.ev_creator_input_error:focus {
    border: 2px solid var(--error_color);

}

.ev_creator_input_success {
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    height: 35px;
    background: var(--white);
    border-radius: 6px;
    border: 1px solid var(--darkgreen);
}


.ev_creator_input_success:focus,
.notes:focus {
    border: 2px solid var(--darkgreen);

}

.ev_creator_date:focus,
.ev_creator_category:focus,
.ev_creator_time_success:focus,
.ev_creator_repeat:focus {
    border: 2px solid var(--darkgreen);

}

.ev_creator_time_error {
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    height: 35px;
    border: 2px solid var(--error_color);
    background: var(--white);
    border-radius: 6px;
}

.ev_creator_time_error:focus {
    border: 2px solid var(--error_color);

}

input[name=event],
input[name=notes],
input[name=dateOfEvent],
input[name=time_to],
input[name=time_from] {
    letter-spacing: 0.125rem;
    font-family: "Quicksand";
    font-size: 16px;
    padding: 8px 8px;
    margin: 3px 0;
    box-sizing: border-box;

}




.div_time {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.div_option {
    margin: 8px;
    display: flex;
    justify-content: space-around;
}

.div_from_to {
    display: flex;
    justify-content: space-around;
}

.text_option:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.ev_creator_message {
    text-align: center;

}

.ev_input_error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--error_color);
    font-weight: 500;
    font-size: 15px;

}