.Header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position:fixed;
    background-color:#FFFFFF ;
    z-index: 50;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.Header p{
    margin-top: 20px;
}
.hidden_Header {
    display: none;
}

#headerLogo {

    width: 145px;
}

#headerUserBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 359px;
    height: 75px;
    position: relative;
    overflow: hidden;
    top:100;

}

.headerLeft {

    display: flex;

}

#headerBars {
    margin-top: 0px;
    margin-left: 15px;

}