@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.columnC {

  background-color: #91aba533;
  min-width: 128px;
  min-height: 1150px;
  border: 1px dotted #91aba533;
  border-radius: 30px;
  /* margin: 10px; */
  box-shadow: -14px -15px 5px -5px rgba(34, 60, 80, 0.6);

}

.columnTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: -10px;
  margin-top: 10px;
  user-select: none;

}

.columnTitle:hover {
  text-shadow: -2px 1px 10px black;
  cursor: pointer;
}

.wcp_events {
  display: flex;
  flex-direction: column;
  position:relative;
  min-width: 100%;
  cursor:pointer;
  max-height: 0;
  pointer-events: none;
}

