.settings_title {
  color: #171717;
  font-size: 300%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.settings_title:hover>hr {
  width: 100%;
  border-radius: 0.35% / 50%;
}

/*#EAD6BB;*/

.sett-hr {
  width: 30%;
  height: 6px;
  background: #91aba5;
  border: #91aba5;
  border-radius: 1.35% / 50%;
  margin: 0px;
  transition: width 900ms ease-out;
}

.setting_title_item {
  color: #171717;
  font-size: 135%;
  font-family: 'Quicksand', sans-serif;
}

.updated_form_input {
  margin-top: -2.5%;
  width: 40vh;
}

.updated_input_success_div>input::placeholder {
  color: rgba(23, 23, 23, 0.9);
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  text-align: start;
}

.updated_input_success_div>input:focus::placeholder {
  color: transparent;
}

.updated_input_success_div>input[name=login],
.updated_input_success_div>input[name=name],
.updated_input_success_div>input[type=password],
.updated_input_success_div>input[type=email] {
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  padding: 0% 3%;
  box-sizing: border-box;
}

.updated_input_success_div {
  position: relative;
}

.updated_form_input_success {
  height: 5vh;
  border-radius: 16px;
}

.updated_form_input_error {
  height: 5vh;
  border-radius: 16px;
}

.updated_form_input_success:focus {
  border: 4px solid var(--lightgreen);
}

.updated_form_input_error:focus {
  border: 4px solid #D2042D;
}

.updated_input_success {
  width: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--lightgreen);
  font-weight: 100;
  font-size: 20px;
}

.updated_input_error {
  width: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #D2042D;
  font-weight: 100;
  font-size: 20px;
}

.updated_form_success_icon {
  top: 50%;
  transform: translate(50%, -50%);
  margin: auto;
  position: absolute;
  color: var(--lightgreen);
}

.updated_form_error_icon {
  top: 40%;
  transform: translate(50%, -50%);
  margin: auto;
  position: absolute;
  color: #D2042D;
  font-size: 20px;
}

.updated_form_message {
  font-size: 95%;
  margin-top: -3%;
}

.setting_title_item {
  margin-top: 3%;
}

/*.updated_form_input_error:focus,
.updated_form_input_success:focus {
    outline: none;
}*/


.settings_button {
  transition: all 0.5s;
  text-align: center;
  color: #171717;
  margin: 1rem 0;
  /*width: 53vh;*/
  width: 25vh;
  display: inline-block;
  padding: 0.7% 0%;
  background: var(--lightgreen);
  border-radius: 16px;
  cursor: pointer;
  border: none;
  font-size: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.settings_del_button {
  margin-top: 0;
  background: #D2042D;
}

.set_button>button:active:enabled {
  transform: scale(1.03);
}

.set_button>button:disabled:hover {
  background-color: #4d5150;
}

.set_button>button:hover {
  background-color: #EAD6BB;
}

/*import 'react-confirm-alert/src/react-confirm-alert.css';*/

body.react-confirm-alert-body-element {
  overflow: hidden;
}

.react-confirm-alert-blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
  font-family: 'Quicksand', sans-serif;
  width: 400px;
  padding: 30px 30px 20px 30px;
  text-align: left;
  background: #171717;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: white;
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body>h1 {
  margin-top: 0;
  font-size: 170%;
  font-weight: bold;
}

.react-confirm-alert-body>h3 {
  margin: 0;
  font-size: 90%;
}

.react-confirm-alert-button-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.react-confirm-alert-button-group>button {
  outline: none;
  border: none;
  display: inline-block;
  padding: 3px 18px;
  color: #171717;
  margin-right: 10px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 90%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.react-confirm-alert-button-group>button:first-child {
  background: #91aba5;
}

.react-confirm-alert-button-group>button:last-child {
  background: #D2042D;
}


@-webkit-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.react-confirm-alert-button-group>button:active:enabled {
  transform: scale(1.03);
}

.react-confirm-alert-button-group>button:hover {
  background-color: #EAD6BB;
}